<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>cc.arduino</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>Make it run. Arduino without Arduino IDE</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Product Name</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your new product&apos;s name</string>
			<key>EmptyReplacement</key>
			<string>ProductName</string>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>Arduino Mini with ATmega328</string>
			<key>Identifier</key>
			<string>chipISA</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Select your chip</string>
			<key>NotPersisted</key>
			<true/>
			<key>Description</key>
			<string>Your chip</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>atmega8</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>GCC_PREPROCESSOR_DEFINITIONS</key>
							<string>__AVR_ATmega8A__</string>
							<key>BOARD_TAG</key>
							<string>atmega8</string>
						</dict>
					</dict>
				</dict>
				<key>Arduino Uno</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>BOARD_TAG</key>
							<string>uno</string>
							<key>GCC_PREPROCESSOR_DEFINITIONS</key>
							<string>__AVR_ATmega328__</string>
						</dict>
					</dict>
				</dict>
				<key>Arduino Mini with ATmega328</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>GCC_PREPROCESSOR_DEFINITIONS</key>
							<string>__AVR_ATmega8A__</string>
							<key>BOARD_TAG</key>
							<string>nano</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___PROJECTNAMEASIDENTIFIER___.ino</key>
		<dict>
			<key>AllowedTypes</key>
			<string>public.c-plus-plus-source</string>
			<key>Path</key>
			<string>___PROJECTNAMEASIDENTIFIER___.ino</string>
		</dict>
		<key>Build/README.md</key>
		<dict>
			<key>Path</key>
			<string>Build/README.md</string>
			<key>Group</key>
			<array>
				<string>Build</string>
			</array>
		</dict>
		<key>Libraries/README.md</key>
		<dict>
			<key>Path</key>
			<string>Libraries/README.md</string>
			<key>Group</key>
			<array>
				<string>Libraries</string>
			</array>
		</dict>
		<key>Includes/README.md</key>
		<dict>
			<key>Path</key>
			<string>Includes/README.md</string>
			<key>Group</key>
			<array>
				<string>Includes</string>
			</array>
		</dict>
		<key>Sources/README.md</key>
		<dict>
			<key>Path</key>
			<string>Sources/README.md</string>
			<key>Group</key>
			<array>
				<string>Sources</string>
			</array>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
		</dict>
		<key>main.c</key>
		<dict>
			<key>Path</key>
			<string>main.c</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>___PROJECTNAMEASIDENTIFIER___.ino</string>
		<string>Build/README.md</string>
		<string>Libraries/README.md</string>
		<string>Includes/README.md</string>
		<string>Sources/README.md</string>
		<string>Makefile</string>
		<string>main.c</string>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>PATH</key>
			<string>$(PATH):$(PROJECT_DIR)</string>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
		</dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict/>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>FLASH</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolArgsString</key>
			<string>all -C &quot;$(PROJECT)&quot;</string>
			<key>BuildToolDirectory</key>
			<string>$(PROJECT)</string>
			<key>BuildWorkingDirectory</key>
			<string>$(PROJECT)</string>
			<key>BuildToolWorkingDirectory</key>
			<string>$(PROJECT)</string>
			<key>BuildToolWorkingDir</key>
			<string>$(PROJECT)</string>
			<key>CustomBuildSettings</key>
			<dict>
				<key>BuildToolDirectory</key>
				<string>$(PROJECT)</string>
				<key>BuildWorkingDirectory</key>
				<string>$(PROJECT)</string>
				<key>BuildToolWorkingDirectory</key>
				<string>$(PROJECT)</string>
				<key>BuildToolWorkingDir</key>
				<string>$(PROJECT)</string>
			</dict>
		</dict>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
					<key>DEBUG_INFORMATION_FORMAT</key>
					<string>dwarf-with-dsym</string>
				</dict>
			</dict>
			<key>Name</key>
			<string>CodeSense</string>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>SharedSettings</key>
			<dict>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>/usr/local/CrossPack-AVR/avr/** /Users/$(USER)/Dropbox/Arduino/**</string>
				<key>ALWAYS_SEARCH_USER_PATHS</key>
				<string>YES</string>
				<key>GCC_ENABLE_OBJC_EXCEPTIONS</key>
				<string>YES</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
